# Script to aggregate median sea level data
Resulting csv file is supposed to be used within tools like Datawrapper

In [15]:
import pandas as pd

#read csv file, parse the 'date' column as datetime
df = pd.read_csv('../../data/global_msl.csv', parse_dates=['date'])

# extract year from 'date' column
df['year'] = df['date'].dt.year

# group data by year and calculate median for each year
df_agg = df.groupby('year', as_index=False).median()

# write the aggregated data to a new csv file
df_agg.to_csv('../../data/global_msl_agg.csv', index=False)

   year  global_msl
0  1993   -0.001672
1  1994   -0.001220
2  1995    0.001738
3  1996    0.004672
4  1997    0.007243